@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Inter", sans-serif;
}

.hero-bg {
background: #000000;
background: linear-gradient(316deg,rgb(0, 0, 0) 87%, rgba(45, 35, 64, 1) 100%);

}
.nav-bg {
background: #000000;
background: linear-gradient(210deg,rgba(0, 0, 0, 1) 84%, rgba(45, 35, 64, 1) 100%);

}

.textSan {
  color: #FFFFFF;
  background-image: linear-gradient(45deg, #FFFFFF 28%, #686ADE 55%, #CC00FF 89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

@layer components {
  .hero-section {
    @apply bg-[#081028] w-full min-h-min px-20 flex py-17;
  }
  .feature-a{
    @apply relative text-white after:content-[''] after:absolute after:left-0 after:-bottom-2
          after:h-[4px] after:w-0 after:bg-[#6400df]
         after:rounded-full after:transition-all after:duration-300 hover:after:w-full
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;    
}