@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Inter", sans-serif;
}

.hero-bg {
background: #000000;
background: linear-gradient(316deg,rgb(0, 0, 0) 87%, rgba(45, 35, 64, 1) 100%);

}
.nav-bg {
background: #000000;
background: linear-gradient(210deg,rgba(0, 0, 0, 1) 84%, rgba(45, 35, 64, 1) 100%);

}

@layer components {
  .hero-section {
    @apply bg-[#081028] w-full min-h-min px-20 flex py-17;
  }
}
